@import "_variables";
@import "_mixins";

.about {
  &__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__background {
    margin-top: 8vh;
    margin-right: 10vw;
    position: relative;
    width: 400px;
    @media (max-width: 600px) {
      width: 75%;
    }
  }
  &__background:after {
    content: "";
    background: $backgroundColor;
    position: absolute;
    width: 100%;
    height: 80%;
    top: -40px;
    left: 40px;
    z-index: -1;
    @media (max-width: 600px) {
      height: 90%;
    }
  }
  &__description {
    @include descriptions;
  }
  &__picture {
    justify-content: flex-start;
    box-shadow: 4px -4px 4px $mainColor;
    margin-top: 2vw;
    height: 25vw;
    width: auto;
    @media (max-width: 900px) {
      width: 80%;
      height: auto;
    }
  }
  &__title {
    @include section__title;
  }
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 15vh;
  margin-right: 15vh;
  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5vw;
  }
  @media (max-width: 768px) {
    margin-top: 6vw;
  }
  &__container {
    width: 40%;
    @media (max-width: 900px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__description {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 22px;
    margin: 4vh 2vh 2vh 2vh;
  }
  &__icon {
    display: flex;
    align-self: center;
    margin-top: -45px;
    height: 90px;
    width: 90px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: $backgroundColor;
    margin-top: 7vw;
    margin-bottom: 7vw;
    margin-left: 3vw;
    margin-right: 3vw; 
    @media (max-width: 900px) {
      width: 80%;
    }
  }
}

.map {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
  &__background {
    position: relative;
    margin-left: 10vw;
    margin-top: 7vh;
    width: 400px;
  }
  &__background:after {
    content: "";
    position: absolute;
    background: $backgroundColor;
    top: -40px;
    left: 40px;
    width: 100%;
    height: 60%;
    z-index: -1;
  }
  &__description {
    padding: 2%;
    &--bold {
      font-weight: 700;
      font-size: 1.3rem;
    }
  }
  &__picture {
    margin-left: 7vw;
    width: 40vw;
  }
}
