@import "_variables";
@import "_mixins";


.back__description {
  @include cards__description;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team__back {
  @include cards;
  background: $backgroundColor;
  transform: perspective(600px) rotateY(180deg);
}


.team__card {
  height: 100%;
}

.team__cards {
  display: flex;
  justify-self: center;
  margin-bottom: 8vh;
  cursor: pointer;
  width: 354px;
  height: 425px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.team__cards:hover > .team__front {
  transform: perspective(600px) rotateY(-180deg);
}

.team__cards:hover > .team__back {
  transform: perspective(600px) rotateY(0deg);
}

.team__cards--middle {
  transform: translate(0, 0);
}

.team__front {
  @include cards;
  @include cards__icon;
  transform: perspective(600px) rotateY(0deg);
}