@import "_variables";
@import "_mixins";

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15vh auto;
  position: relative;

  &:after {
    content: "";
    background: $backgroundColor;
    position: absolute;
    width: 80%;
    height: 50%;
    top: 100px;
    left: 130px;
    z-index: -1;
  }
  &__description {
    @include descriptions;
  }
  &__title {
    @include section__title;
    grid-area: 1 / 1 / 2 / 3;
  }
  &__informations {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
  &__number {
    @include contacts;
    &:before {
      background: url("../assets/img/phone-call3.svg");
    }
  }
  &__email {
    @include contacts;
    &:before {
      background: url("../assets/img/email3.svg");
    }
  }
  &__fb {
    @include contacts;
    &:before {
      background: url("../assets/img/facebook3.svg");
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  background-color: $backgroundColor;
  color: black;
}
