@import "_variables";
@import "_mixins";

.gallery__header {
    overflow: hidden;
    background: #93f600;
    padding: 10px 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  
  .gallery{
    padding: 10px;
    overflow: hidden;
    text-align: center;
  }
  .img{
    display: inline-block;
    width: 100%;
    max-width: 340px;
    height: 220px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
  }
  .img img {
    width: 100%;
    height: 220px;
    transition: 0.4s;
  }
  .img img:hover{
    transform: scale(1.2);
  }

  footer{
    overflow: hidden;
    background: #93f600;
    padding: 10px 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  
  .gallery__link {
    display: flex;
    justify-content: center;
    width: 100%;
    &--visible {
      display: flex;
      align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #93f600;
    border: none;
    text-decoration: none;
    color: black;
    }
    &--visible:active {
        transform: scale(0.99);
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    &--visible:hover {
        cursor: pointer;
    }
  }