@import "_variables";
@import "_mixins";

.howWeWork {
  &__pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__title {
    @include section__title;
  }
}
