@import "_variables";
@import "_mixins";

.work__back {
  @include cards;
  background: $backgroundColor;
  transform: perspective(600px) rotateY(180deg);
}

.work__backDescription {
@include cards__description;
}

.work__card {
  height: 100%;
}

.work__cards {
  display: flex;
  height: auto;
  justify-self: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 280px;
  margin: 10px;
}

.work__cards:hover > .work__front {
  transform: perspective(600px) rotateY(-180deg);
}

.work__cards:hover > .work__back {
  transform: perspective(600px) rotateY(0deg);
}

.work__cards--middle {
  transform: translate(0, 0);
}

.work__front {
  @include cards;
  @include cards__icon;
  transform: perspective(600px) rotateY(0deg);
}
