@import "_normalize";
@import "_variables";
@import "_cards";
@import "_team";
@import "_about";
@import "_navigation";
@import "_portfolio";
@import "_contact";
@import "_gallery";
@import "_howwework";
@import "_howwework-cards";
@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap&subset=latin-ext");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Muli", sans-serif;

  color: #434343;
}

.header {
  display: flex;
  flex-direction: column;
  &__picture {
    margin-top: 12vh;
  }
  &__title {
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 0.28em;
    text-align: center;
  }
}



.line {
  justify-content: center;
}

.lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}
