@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #434343;
}

.howWeWork__picture {
  height: 200px;
}

.howWeWork__title {
  font-size: 49px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.22em;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__picture {
  margin-top: 12vh;
}

.header__title {
  font-size: 49px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.22em;
}

.about__section {
  display: flex;
  flex-direction: row;

}

.about__picture {
  width: 50vw;
  box-shadow: 4px -4px 4px #93F600;
}

.about__title {
  font-size: 49px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.22em;
}

.about__description {
  background-color: rgba(147, 246, 0, 0.19);
  max-width: 400px;
  padding: 2%;
  height: auto;
  margin-left: 10vw;
  margin-right: 10vw;
}


.about__description--bold {
  font-weight: 700;
  font-size: 1.1rem;
}

.map {
  display: flex;
  flex-direction: row;
}

.map__picture {
  width: 600px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 12vh;
  background-color: white;
  position: fixed;
  width: 99vw;
  height: 12vh;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.nav__button {
  list-style-type: none;
  margin: 1vh;
}

.nav__logo {
  justify-content: flex-start;
  margin-top: -50px;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 40px;
  text-decoration: none;
  color: black;
  border: 1px solid rgba(139, 232, 0, 0.397);
  transition: all 0.3s;
}

.nav__link:hover {
  border: 1px solid rgb(139, 232, 0);
}

.lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.line {
  justify-content: center;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.features__text {
  display: flex;
  flex-direction: column;
  height: 295px;
  width: 152px;
  background-color: rgba(147, 246, 0, 0.19);
  margin: 12vh;
}

.features__icon {
  display: flex;
  margin-top: -45px;
}

.features__description {
  font-style: normal;
font-weight: normal;
font-size: 1.2em;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
margin: 8vh 2vh 2vh 2vh;
}